.right {
  border: 3px solid yellow;
}
.mistakes {
  border: 3px solid red;
}
.form-block {
  padding: 2%;
  padding-left: 5%;
  margin: 5% auto 0 auto;
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 5px solid #4682B4;
  border-radius: 10px;
  font-family: Optima;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.form-submit {
  cursor: pointer;
  width: 30%;
  align-self: center;
  width: 150px;
  height: 40px;
  border: 1px solid #4682B4;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  font-size: 20px;
  color: #4682B4;
}
.form-submit:hover {
  width: 40%;
  font-size: 25px;
  background: #2eaadc;
}
.error-text {
  display: block;
  color: red;
}
.none {
  display: none;
}
.input__text {
  width: 80%;
  padding: 5px;
  border: 1px solid #eee;
  border-radius: 10px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.checkbox_label {
  position: relative;
  padding-left:30px;
  cursor: pointer;
}

.checkbox_label .input__checkbox {
  position: absolute;
  opacity: 0;
  width:0; 
  height:0;
}

.checkbox_label .checkbox_span {
  position: absolute;
  top:0;
  left:0;
  width:20px; 
  height:20px;
  background-color: #ddd;
  transition: .3s background-color;
}
.checkbox_label .checkbox_span:after {
  content: "";
  position: absolute;
  display: none;
  
  left: 6px;
  top: 2px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
.checkbox_label:hover .checkbox_span {
  background-color: #ccc;
}

.checkbox_label input:checked ~ .checkbox_span {
  background-color: #2eaadc;
}
.checkbox_label input:checked ~ .checkbox_span:after {
  display:block;
}

.radio-btn_label {
  display:block;
  margin-bottom:4px;
  position: relative; /* to contain absolute elements */
  padding-left:30px; /* free space for custom radio button */
  cursor: pointer;
}
/* hide default radio button  */
.radio-btn_label input[type=radio] {
  position: absolute; /* prevent taking any space */
  /* cross-browser hidingg */
  opacity: 0;
  width:0; 
  height:0;
}
/* custom radio button */
.radio-btn_label .radio-btn_span {
  position: absolute;
  /* position to the free space in <label> */
  top:0;
  left:0;
  width:20px; 
  height:20px;
  background-color: #ddd;
  border-radius: 50%;
  transition: .3s background-color; /* slight transition */
}
/* the check icon */
.radio-btn_label .radio-btn_span:after {
  content: "";
  position: absolute;
  display: none;
  
  /* middle */
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  background-color:#fff;
  width:8px;
  height:8px;
  border-radius:50%;
}
.radio-btn_label:hover .radio-btn_span {
  background-color: #ccc;
}

.radio-btn_label input:checked ~ .radio-btn_span {
  background-color: #2eaadc;
}
.radio-btn_label input:checked ~ .radio-btn_span:after {
  display:block;
}
.radio-btn_container {
  display: flex;
  gap: 20px;
}

.input__date {
  margin-left: 7%;
  background-color: #2eaadc;
  padding: 5px;
  font-family: "Roboto Mono",monospace;
  color: #ffffff;
  font-size: 14px;
  border: none;
  outline: none;
  border-radius: 5px;
}
::-webkit-calendar-picker-indicator{
  background-color: #ffffff;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}

.input__file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.input__file-icon-wrapper {
  height: 60px;
  width: 60px;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #fff;
}

.input__file-button-text {
  line-height: 1;
  margin-top: 1px;
}

.input__file-button {
  width: 100%;
  max-width: 230px;
  height: 40px;
  background: #2eaadc;
  color: #fff;
  font-size: 1.125rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 auto;
}