.myBtn {
  border: none;
  background-color: inherit;
  position: relative;
  width: 1rem;
  height: 1rem;
  top: 3px;
  left: calc(100% - 97.1%);
  background-image: url(../../../assets/svg/search.svg);
  background-size: 16px;
  z-index: 5;
  cursor: pointer;
}
