* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.message {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  margin-top: 5%;
}