.myInput {
  width: 30%;
  padding: 5px 40px;
  margin: 7px;
  border: 2px solid #4682B4;
}

.myInput_search {
  position: relative;
  width: 1rem;
  height: 1rem;
  top: 28px;
  left: calc(100% - 99.1%);
  background-image: url(../../../assets/svg/search.svg);
  background-size: 16px;
  z-index: 5;
  cursor: pointer;
}