.myInput {
  width: 30%;
  padding: 5px 25px;
  margin: 5px 0;
  border: 1px solid teal;
}

.myInput_search {
  position: relative;
  width: 1em;
  height: 1em;
  top: 1.6em;
  left: 0.3em;
  background-image: url(../../../assets/svg/search.svg);
  background-size: 16px;
  z-index: 5;
  cursor: pointer;
}